<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="p-4 p-md-5 bg-light rounded-3 border">
        <h1 class="mb-3">参拝記録アプリ</h1>

        <p class="lead mb-4">
          参拝した神社の記録（神社名・参拝日・メモなど）を保存して、あとから見返せるサービスです。
        </p>

        <div class="d-flex flex-column flex-md-row gap-2">
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-lg" %>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary btn-lg" %>
        </div>
      </div>
    </div>
  </div>
</div>