<% if resource.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" data-turbo-cache="false">
    <% resource.errors.full_messages.each do |message| %>
      <span><%= message %></span><br>
    <% end %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>