<%# 参拝記録 編集画面 %>
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%# フォームカード %>
      <div class="card shadow-sm">
        <div class="card-header bg-warning">
          <h4 class="mb-0">参拝記録を編集</h4>
        </div>
        <div class="card-body">
          <%# 共通フォームパーシャルを呼び出し %>
          <%= render "form", shrine_record: @shrine_record %>
        </div>
      </div>
    </div>
  </div>
</div>